@mixin font-face($font-family) {
	@import url('#{$path-font}#{$font-family}');
}

@mixin image($image, $size: cover) {
	background-image: url('#{$path-img}#{$image}.jpg');
	background-size: $size;
}

@mixin opacity($opacity) {
	background: rgba(0,0,0, $opacity);
}